{% extends 'main.html' %}
{% block content %}

<center>
    <h2>loginpage</h2>
    {% if status %}
    <h2 style="color: red;">{{status}}</h2>
    {% endif %}
    <div class="login">
     <form action="" method="POST" >
        {% csrf_token %}
         <label for="">username:</label>
        <input type="text" name="username"> <br><br>
         <label for="">password:</label>
        <input type="password" name="password"> <br><br>
        <button type="submit">submit</button> <br><br>
        <a href="{% url 'forgot' %}">forgot password</a> <br>
        <a href="{% url 'register' %}">Sign up</a>

    </form>
    </div>
    
</center>
{% endblock %}